{% extends "layout.html" %}



{% block head %}
<title>Liste des extraits pour </title>
<link rel="stylesheet" type="text/css" href="/assets/created/css/stylesc1.css">
{% endblock %}


{% block content %}
<div class="jumbotron">
	<h1>Résulats pour le(s) mot(s) : {% for word in words %}<span class="word2Search">{{ word }}</span> {% endfor %}</h1>
</div>

<ul class="listResults list-group">
	{% for title, item in objs %}
		<li class="liResults panel panel-primary">
			<div class="titleResult panel-heading">{{ title }}</div>
			{% for elements in item %}
			<div class="pResult panel-body">{{loop.index}} - {{ elements.p }}</div>
			{% endfor %}
		</li>
	{% endfor %}
</ul>

{% endblock %}

{% block scripts %}
<script src="/assets/vendor/js/jquery.highlight.js"></script>
<script src="/assets/created/js/search.js"></script>
{% endblock %}