{% extends "layout.html" %}


{% block head %}
<title>Liste des extraits pour </title>
<link rel="stylesheet" type="text/css" href="/assets/created/css/search.css">
{% endblock %}
        

{% block content %}

<div class="jumbotron">
  {% if lemma %}
    <h4 id="resultsTitle">Résultats pour : <span class="word2Search">{{ lemma }}</span></h4>
  {% elif info %}
    <h4 id="info">{{ info }}</h4>
  {% endif %}
</div>


{% if not objs %}
<div class="container">
  <div class="row">
    <div class="input-field col s12">
      <input id="id" type="text" class="validate" placeholder="220576">
      <label for="icon_prefix">ID candidat</label>
      <a class="waves-effect waves-light btn send">Envoyer</a>
    </div>
  </div>
</div>


{% else %}

<div class="container containerUL">
  {% for title, items in objs %}
  <ul class="collection toGet">
    <li class="collection-item avatar">
      {% if items|length > 1 %}<i class="circle grey white-text nbElements">{{ items|length }}</i>{% endif %}
      <span class="title sentence" data-target="{{ items[0].target }}" data-wid="{{ items[0].nb }}">{{ items[0].sentence }} <br/></span>
    </li>
    {% if items|length > 1 %}
      {% for i in range(1,(items|length)) %}
        <li class="collection-item subitems"><div class="sentence" data-target="{{ items[i].target }}" data-wid="{{ items[i].nb }}">{{items[i].sentence}}</div></li>
      {% endfor %}
    {% endif %}
  </ul>
  {% endfor %}
  <a href="/search/{{id}}/{{page + 1}}" class="nextPage toGet">next page</a>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="/assets/vendor/js/jquery.jscroll.min.js"></script>
<script src="/assets/created/js/search.js"></script>
{% endblock %}