{% extends "layout.html" %}



{% block head %}
<title>Liste des extraits pour </title>
<link rel="stylesheet" type="text/css" href="/assets/created/css/search.css">
{% endblock %}
        

{% block content %}
<div class="jumbotron">
  {% if lemma %}
    <h4 id="resultsTitle">Résulats pour : <span class="word2Search">{{ lemma }}</span></h4>
  {% elif info %}
    <h4 id="info">{{ info }}</h4>
  {% endif %}
</div>

<ul class="listResults list-group">
	{% for title, item in objs %}
		<div class="divResults card medium">
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{title}}<i class="material-icons right openCard">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4 desactivator">{{title}}<i class="material-icons right closeCard">close</i></span>
        {% for elements in item %}
          <li class="liResults"><i class="tiny material-icons">label</i> {{ elements.p }}</li>
        {% endfor %}
      </div>
		</div>
	{% endfor %}
</ul>

{% if lemma %}
  <ul class="pagination">
    <li class="waves-effect previousPage" ><a href="#"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect nextPage" ><a href="#"><i class="material-icons">chevron_right</i></a></li>
  </ul>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="/assets/vendor/js/jquery.highlight.js"></script>
<script src="/assets/created/js/search.js"></script>
{% endblock %}