<!DOCTYPE html>
<html>
	<head>

    <meta name="description" content="{{ page.description|d(site.description) }}">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/vendor/css/materialize.min.css"  media="screen,projection"/>

    {% block head %}
    {% endblock %}

	</head>

  <nav>
    <div class="nav-wrapper brown" style="text-align:center;">
      <img src="/assets/created/img/totem.svg" style="margin-left: 218px; height: 100%;">
      <a href="/" class="brand-logo center" title="inTerface d'évaluatiOn de TErMes en contexte">Interface</a>
    </div>
  </nav>

	{% block content %}
	{% endblock %}

<footer style="bottom:0; background: #555555 ; height: 250px;">
  <div class="col l12" style="display:flex;justify-content: space-around; align-items: center; height: 100%">
    <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.atilf.fr/ressources/termith/"><img class="partnerLogosFooter" src="/assets/created/img/logo_termith.png" alt="logo termith" style="height: 100px; width : auto;" /></a>
    <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.agence-nationale-recherche.fr/"><img class="partnerLogosFooter" src="/assets/vendor/img/anr.png" alt="logo anr" /></a>
    <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.cnrs.fr/"><img class="partnerLogosFooter" src="/assets/vendor/img/logo_cnrs.png" alt="logo du cnrs" /></a>
    <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.univ-lorraine.fr/"><img class="partnerLogos"src="/assets/vendor/img/logo_UL.png" alt="logo de l'université de Lorraine"  /></a>
    <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://lidilem.u-grenoble3.fr/"><img class="partnerLogosFooter" src="/assets/vendor/img/logo_lidilem.png" alt="logo de lidilem" /></a>
    <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.lina.univ-nantes.fr/"><img class="partnerLogosFooter" src="/assets/vendor/img/logo_lina.jpg" alt="logo de l'ANR" /></a>
    <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.atilf.fr/"><img class="partnerLogosFooter" src="/assets/vendor/img/atilf.jpg" alt="logo de l'ATILF" /></a>
    <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.inria.fr/"><img class="partnerLogosFooter" src="/assets/vendor/img/logo_inria.png" alt="logo de inria" /></a>
  </div>
</footer>

    <script src="/assets/vendor/js/jquery.min.js"></script>
    <script src="/assets/vendor/js/materialize.min.js"></script>
	{% block scripts %}
	{% endblock %}

</body>
</html>


