/*GENERAL*/

#containerUL{
  min-height: calc(100vh + 75px);
}

.titleResults{
	font-size: 14px !important;
  display: block;
  text-align: center;
}

.listResults{
	-moz-columns: 3 auto;
	width: 95vw;
	margin-left: 2.5vw;
	-moz-column-gap: 44px;
}

.disabled{
  pointer-events: none;
  cursor: default;
}

.divResults{
  overflow-y: auto;
	display: inline-block;
	width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#resultsTitle,#info{
  text-align: center;
}

.card-title{
  margin-bottom: 25px;
}

.pResult{
  height: auto !important;
}

.liResults{
  margin-bottom: 25px; 
}

.card-content{
  height: auto !important;
  text-align: center;
}

.openCard{
  position: absolute;
  right: 25px;
  top: 25px;
}


.pagination{
  text-align: center;
}


/* STYLE SENTENCE ELEMENTS */

w, pc{
  color: #607D8B;
}

[wsAfter="true"]{
  margin-right: 4px;
}

[nb]{
  color : #607D8B;
}

[nb="0"]{
  color : red;
}

[nb="1"]{
  color : blue;
}

[rend="italic"]{
  font-style: italic;
}

[rend="bold"]{
  font-weight: bold;
}

[rend="sub"]{
  font-size: 0.7em;
  position: relative;
  top : 6px;
}

[rend="sup"]{
  font-size: 0.7em;
  position: relative;
  top : -6px;
}


/* Concordancier form */
.sentence{
  display: flex;
  padding: 0;
}

.subitems .sentence{
    padding-left: 72px;
}

.wBefore{
  flex: 1 1 0%;
  text-align: right;
}

.candidatsTermes{
  margin: 0 auto;
}

.wAfter{
  flex: 1 1 0%;
}

/* END concordancier */

.collection{
  transition: all 1s;
}

.subitems{
  display: none;
}

.nbElements{
  cursor: pointer;
}

.nbElements:hover{
  background: red !important;
}

.sentence:hover{
  cursor: pointer;
  text-decoration: underline;
}


p .wordToSearch{
  color: red;
} 



/* REWRITTE materialisecss */

.collection{
  margin: 10px;
}

.collection .collection-item{
  padding : 10px 0;
}

.collection .collection-item.avatar{
  min-height: 57px;
}

.collection .collection-item.avatar i.circle{
  font-size: 13px;
  line-height: 20px;
}
.collection .collection-item.avatar .circle {
  height: 20px;
  width: 20px;
  left: 47px;
  top: 4px;
}


.jscroll-loading{
  text-align: center !important;
}